
{
  box-sizing: border-box;
}

body{
  margin : 0;
  background-image: url(https://i.pinimg.com/originals/16/02/b2/1602b26c05ee78120695d592a68b8912.gif) 
}

header{
  background-color:lightblue;
  height: 125px
} 